*{
    margin: 0;
    padding: 0;
}
header{
    background-color: #ccc;
}
.container{
    margin: 1rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 120px;
}
.logo img{
    width: 100%;
}
nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    flex-wrap: wrap;
}
nav ul a {
    display: block;
    padding: .5rem ;
    color: #000;
    text-decoration: none;
}
nav .nav-icon{
    width: 25px;
    height: 25px;
    display: none;
    flex-wrap: wrap;
    align-items: stretch;
    position: relative;
}
.nav-icon span{
    width: 100%;
    height: 3px;
    background-color: #000;
    display: block;
}
@media (min-width: 120px) and (max-width: 575.98px) {
    
    .container{
        margin: 1rem;
    }
    
    header nav ul {
        display: none;
    }
    header nav .nav-icon{
        display: flex;
    }

    header nav .nav-icon:hover span:nth-child(2){
        display: none;
    }
    header nav .nav-icon:hover span:nth-child(1){
        transform: rotate(45deg);
        top: 50%;
        position: absolute;
        /* transform: translateY(-50%); */
    }
    header nav .nav-icon:hover span:nth-child(3){
        transform: rotate(-45deg);
        top: 50%;
        /* transform: translateY(-50%); */
        position: absolute;
    }
    header nav .nav-icon:hover ~ ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        width: 100%;
        height: 100vh;
        right: 0;
        background-color: green;
    }
    header nav .nav-icon:hover ~ ul li {
        text-align: center;
    }
}