*{
    margin: 0;
    padding: 0;
}
nav{
    margin: 1rem;
    background-color: #4c4e5a;
    border-radius: 5px;
    overflow: hidden;
}
nav ul {
    list-style: none;
    display: flex;
}
nav ul a{
    display: block;
    padding: .5rem 1rem;
    color: #f3f3f3;
    text-decoration: none;
    border-right: 1px solid #ddd;
}
/* hover  */
nav ul a:hover{
    color:#8fde62;
    background-color: red;
}