*{
    margin: 0;
    padding: 0;
}
html,body{
    font-size: 16px;
}
#form-dk,#zone2{
    background-color: #ccc;
    padding: 2rem;
}
form{
    margin: 2rem auto;
    padding: 1rem;
    width: 550px;
    background-color: #fff;
    border-radius: 10px;
}
h1{
    text-align: center;
    padding: 1rem 0;
    border-bottom: 2px solid #ddd;
}
form .form-group{
    margin: .5rem 0;
    display: flex;
}
form .form-group label{
    width: 8rem;
}
form .form-group > div {
    width: calc(100% - 8rem);
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    align-items: center;
}
form .form-group > div span {
   font-size: .8rem;
   color: rgb(120, 8, 8);
   font-style: italic;
   padding-left: .25rem;
}
form .form-control{
    width: calc(100% - 2.5rem);
    padding: .25rem .5rem;
    border-radius: 2px;
    border: 1px solid #ccc;
    outline: none;
}
form textarea {
    width: 100%;
    padding: .25rem .5rem;
    border-radius: 2px;
    border: 1px solid #ccc;
    outline: none;
}
form .btn {
    border: none;
    border-radius: 3px;
    padding: .5rem 1rem;
    margin: 0 .25rem;
}
form .btn-primary {
    background-color: rgba(46, 46, 215, 0.698);
    color: #fff;
}
form .btn-secondary {
    background-color: rgba(172, 172, 175, 0.698);
    color: blue;
}
#zone2 table{
    background-color: #fff;
    margin: 1rem auto;
    width: 80%;
}